body {
  display: flex;
  background-color: orange;
}

.columns {
  display: flex;
  flex-direction: row;
}

.column {
  background-color: #D0BCD5;
  height: 100%;
  margin: 1%;
  padding: 1%;
}

.column_image {
  float: left;
  padding: 3%
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
